@model IEnumerable<Ticketshop.Models.Ticket>

    @{
        ViewData["Title"] = "Index";
    }

    <h2>Index</h2>

    <p>
        @using (Html.BeginForm())
        {
        <p>
            Title: @Html.TextBox("SearchString")
            <input type="submit" value="filter" />
        </p>
        }
        </p>

        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Price)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Eventname)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Genre)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DateTime)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Price)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Eventname)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Genre)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DateTime)
                        </td>
                        <td>
                            <a asp-action="Details" asp-route-id="@item.TicketID">Details</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
