@model Ticketshop.Models.Theater

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Theater</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Theatername)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Theatername)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Theateradress)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Theateradress)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Available_seats)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Available_seats)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.TheaterID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
